@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


/*====================
Variables
======================*/

:root {

  /* Font family */
  --primaryFontFamily: "Poppins", sans-serif;


  /*Theme Colors */
  --primaryColor: #00ADEE;
  --lightPrimaryColor: #66d6ff;
  --secondaryColor: #ffffff;
  --textColor: #333333;
  --borderColor: #dddddd;
  --bgColorPrimary: #e6f8ff;
  --bgColorSecondary: #f2f2f2;
  --boxShadow: #cccccc;


  /* Font Sizes */
  --fontPrimary: 1rem;
  --fontSecondary: 1.5rem;
  --fontBrand: 1.25rem;

}

/*====================
Common CSS
======================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

body {
  font-family: var(--primaryFontFamily);
  font-size: var(--fontPrimary);
  color: var(--textColor);
  line-height: 24px;
}

a {
  text-decoration: none;
  color: var(--textColor);
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*====================
Common Padding
======================*/

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}


/*====================
Common Section Title
======================*/
.section-title {
  margin-bottom: 60px;
  text-align: center;
}

.section-title h4 {
  text-transform: capitalize;
  font-size: var(--fontSecondary);
  display: inline-block;
  margin-bottom: 20px;
}

.section-title p {
  max-width: 700px;
  margin: 0 auto;
}

/*====================
Common Button CSS
======================*/

.btn {
  display: inline-block;
  background: linear-gradient(to right, var(--lightPrimaryColor) 0%, var(--primaryColor) 51%, var(--lightPrimaryColor) 100%);
  background-size: 200% auto;
  color: var(--secondaryColor);
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.btn:hover {
  background-position: right center;
}

/*====================
Header Section
======================*/
.header-area {
  padding: 30px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  text-transform: capitalize;
  color: var(--primaryColor);
  font-size: var(--fontBrand);
  font-weight: 700;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li a {
  text-transform: capitalize;
  margin-left: 20px;
  font-weight: 500;
  position: relative;
  transition: all .3s linear;
}

.header__nav ul li a::before {
  content: "";
  position: absolute;
  background-color: var(--primaryColor);
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  visibility: hidden;
  transition: all .3s linear;
}

.header__nav ul li a:hover::before {
  width: 100%;
  visibility: visible;
}

.header__nav ul li a:hover {
  color: var(--primaryColor);
}


/*====================
Banner Section
======================*/

.banner-area img {
  border: 3px solid var(--borderColor);
  padding: 3px;
  border-radius: 3px;
}


/*====================
About Section
======================*/

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.single-about {
  flex-basis: 32%;
  border: 1px solid var(--borderColor);
  padding: 20px;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.single-about:hover {
  border: 1px solid var(--primaryColor);
  box-shadow: 0 0 13px 0px var(--boxShadow);
}

.single-about i {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-size: var(--fontSecondary);
  width: 50px;
  height: 50px;
  line-height: 44px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.single-about:hover i {
  transform: rotate(360deg);
}

.single-about h4 {
  text-transform: capitalize;
  margin: 10px 0;
  font-size: var(--fontSecondary);
}


/*====================
Services Section
======================*/

.services-area {
  background-color: var(--bgColorPrimary);
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.single-service {
  flex: 0 0 32%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: var(--secondaryColor);
  text-align: center;
}


.single-service:hover {
  box-shadow: 0 0 13px 0px var(--boxShadow);
}



.single-service:nth-child(n+4) {
  margin-bottom: 0;
}

.single-service h4 {
  margin-bottom: 20px;
  font-size: var(--fontSecondary);
  font-weight: normal;
  text-transform: uppercase;
}

.service-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.service-img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}

.single-service:hover .service-img img {
  transform: scale(1.1);
}

.single-service p {
  margin: 20px 0;
  text-align: justify;
}



/*====================
Gallery Section
======================*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-gallery {
  flex-basis: 23%;
  margin-bottom: 30px;
  border: 1px solid var(--borderColor);
  padding: 3px;
  border-radius: 8px;
}

.single-gallery:hover{
  border: 1px solid var(--primaryColor);
}

.single-gallery:nth-child(n+9) {
  margin-bottom: 0;
}

.gallery-img {
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.gallery-img img {
  height: 100%;
  transition: all 0.3s linear;
}

.gallery-img img:hover {
  transform: scale(1.1);
}


/*====================
Contact Section
======================*/

.contact-area {
  background-color: var(--bgColorSecondary);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact-form {
  width: 850px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: var(--fontPrimary);
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 0 0.15rem rgba(0, 173, 238, 0.3);
}

.contact-form textarea {
  max-width: 100%;
  min-width: 100%;
}

.form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-btn input {
  margin-bottom: 0;
  flex-basis:49%;
  cursor: pointer;
}



.contact-address {
  width: 300px;
}

.single-address {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.address-icon i {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.address-content {
  transition: all 0.3s linear;
}

.address-content h4 {
  text-transform: capitalize;
  font-size: var(--fontPrimary);
}

.single-address:hover .address-content {
  color: var(--primaryColor);
}

.single-address:hover .address-content p a {
  color: var(--primaryColor);
  border-bottom: 3px dashed var(--primaryColor);
}


.address-content p a {
  border-bottom: 3px dashed transparent;
}

/*====================
Footer Section
======================*/
.footer-area {
  padding: 30px 0;
  text-align: center;
  background: linear-gradient(to right, var(--lightPrimaryColor) 0%, var(--primaryColor) 51%, var(--lightPrimaryColor) 100%);
  background-size: 200% auto;
  transition: all 0.3s linear;
}

.footer-area:hover {
  background-position: right center;
}

.footer-area p {
  font-size: var(--fontPrimary);
  color: var(--secondaryColor);
}

.footer-area p a {
  color: var(--secondaryColor);
  font-weight: bold;
  border-top: 3px double var(--secondaryColor);
  border-bottom: 3px double var(--secondaryColor);
  transition: all 0.3s linear;
}

.footer-area p a:hover {
  border-top: 3px dotted var(--secondaryColor);
  border-bottom: 3px dotted var(--secondaryColor);
}